* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}   
body, html {
    margin: 0;
    padding: 0;
}

.App {
    height: 100vh;
    background:linear-gradient(33deg,rgba(0, 0, 0, 1) 0%, rgba(224, 218, 218, 1) 33%, rgba(133, 127, 127, 1) 64%, rgba(156, 143, 143, 1) 93%);
}
