.nav { 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;  
    flex-wrap:wrap;
    padding: 15px 0; 
}

.navLeft {
    color: black;
}

.navRight {
    display: flex;
    gap: 20px;
    position: inline;

}

.signBtn {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 5px 10px;
    transition: all 0.3 ease;
}

.signBtn:hover { 
    transform: scale(1.05);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}